*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Poppins,sans-serif;
    background:#0F172A;
    overflow-x:hidden;
}

#root{
    min-height:100vh;
}

.app{
    display:flex;
    min-height:100vh;
}

.main-content{
    flex:1;
    margin-left:260px;
    padding:35px;
}

.content-grid{
    display:grid;
    grid-template-columns:380px 1fr;
    gap:30px;
    align-items:start;
}

@media(max-width:1200px){

.content-grid{
grid-template-columns:1fr;
}

}

@media(max-width:900px){

.main-content{
margin-left:0;
padding:20px;
}

}